body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    padding: 0px 50px;
}

nav a:hover {
    color: aquamarine;
}

h3{
    color: rgb(225, 6, 93);
}

footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: left;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 14px;
}
