body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid aquamarine
}

.center{
    text-align: center
}

h1{
    color: aquamarine;
    text-align:center;
}

h2{
    color: rgb(161, 161, 212);
    text-align:center;
}

h3{
    color: rgb(225, 6, 93)
}

h4{
    color: rgb(175, 189, 17)
}

h5{
    color: rgb(161, 161, 212)
}
.container {
    padding: 0px 50px;
}
.article {
    column-count: 2;
}
